@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef7ed;
  --foreground: #fffffe;
  --oPrimary: #545471;
  --oRed: #e54d65;
  --oBlue: #4c74ff;
  --oPurple: #d5d0f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0d1d;
    --foreground: #121221;
    --oPrimary: #88b8ff;
    --oRed: #ff5a75;
    --oBlue: #4dd4ff;
    --oPurple: #3d3d46;
  }
}

body {
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--oPrimary);
}
